@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: Poppins, sans-serif;
  background-color: #f4d528;
}

.page-head {
  margin: 50px;
  text-align: center;
}

.page-head h1 {
  font-weight: 300;
  letter-spacing: 10px;
  color: aliceblue;
}

.container {
  margin: 20px auto;
  max-width: 50vw;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4150b5;
  padding: 5px 20px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header h2 {
  color: white;
  font-weight: 600;
}

.header button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
}

.header button i {
  font-size: 1.8em;
  color: white;
}

.content {
  max-height: 0;
  padding: 0 1.5rem;
  overflow: hidden;
  background-color: azure;
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}

.accordion {
  margin: 5px 0;
}

.active {
  display: block;
  max-height: 100vh;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.fa-solid {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: all 500ms ease-in;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
}

.icon-active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all 450ms ease-in;
  -webkit-transition: all 450ms ease-in;
  -moz-transition: all 450ms ease-in;
  -ms-transition: all 450ms ease-in;
  -o-transition: all 450ms ease-in;
}
